<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ $styles := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">

  {{ $scripts := resources.Get "js/main.js" | js.Build (dict "minify" true) | fingerprint }}
  <script src="{{ $scripts.RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" crossorigin="anonymous" defer></script>

  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
</head>
