{{ define "main" }}
  {{ .Content }}

  <div class="gallery-wrapper">
    <div class="gallery">
      {{ range site.RegularPages }}
      <div class="thumbnail"
     data-title="{{ .Title }}"
     data-date="{{ .Date.Format "2006-01-02" }}"
     {{ with .Params.tags }}data-tags="{{ delimit . ", " }}"{{ end }}>

  <!-- サムネイル -->
  <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
  

  <!-- Lightbox 用に隠しデータを置く -->
  <div class="hidden-content" style="display:none">
    <h2>{{ .Title }}</h2>
    <div class="article-body">
    
    </div>
    
  {{ with .Params.tags }}
    <div class="tags">
      {{ range . }}
        <a href="{{ "tags/" | relURL }}{{ . | urlize }}" class="tag-link">#{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}
</div>
</div>
      {{ end }}
    </div>
  </div>
{{ end }}
