{{ partial "header.html" . }}
<body>
  <div class="gallery">
    {{ range .Site.RegularPages }}
      <img
        src="{{ .Params.thumbnail }}"
        class="thumbnail"
        data-title="{{ .Title }}"
        data-content="{{ .Content | safeHTML }}">
    {{ end }}
  </div>


  <div class="lightbox" id="lightbox">
    <div class="lightbox-content">
      <h2 id="lightbox-title"></h2>
      <div id="lightbox-body"></div>
    </div>
  </div>

  <img src="" class="time-image" id="time-image">
{{ partial "tagcloud.html" . }}
  <script src="/js/script.js"></script>
</body>
</html>
